/* RESET SEDERHANA */
body {
    font-family: Arial, sans-serif;
    background-color: #b7b1b195;
    margin: 20px;
}

/* JUDUL */
h1, h2 {
    text-align: center;
    color: #333;
}

/* NAVBAR */
nav {
    text-align: center;
    margin: 15px 0;
}

nav a {
    text-decoration: none;
    color: black;
    margin: 0 8px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #eaeaea;
}

nav a:hover {
    background-color: #d4d4d4;
}

nav a.active {
    background-color: #bcbcbc;
}

/* TABLE */
table {
    border-collapse: collapse;
    margin: 15px auto;
    background-color: white;
}

table th, table td {
    border: 1px solid #999;
    padding: 8px;
}

table th {
    background-color: #ddd;
}

/* GAMBAR */
img {
    display: block;
    margin: 10px auto;
}

/* BUTTON */
button {
    padding: 6px 10px;
    background-color: #ccc;
    border: 1px solid #999;
    cursor: pointer;
}

button:hover {
    background-color: #bbb;
}

/* FORM */
form {
    width: 70%;
    margin: 20px auto;
    padding: 15px;
}

input, [type="file"] {
    padding: 5px;
    width: 100%;
    box-sizing: border-box; 
}

/* PARAGRAF */
p {
    text-align: center;
}